:root {
  font-size: calc(0.5vw + 1vh);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 10rem;
  height: 10rem;
}



h1,
h4 {
  font-family: "AvantGarde", sans-serif;
}

header h1{
  width: 25rem;
  height: 9rem;
  margin: 8rem 3rem auto;

  font-size: 3rem;
}

.typewriter {
  animation: caret 1s steps(1) infinite;

  border-right: .05em solid;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

main {
  position: sticky;
}

p {
  font-family: "Brygada", serif;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;

  color: #0066aa;
}

a:hover {
  color: #e8e5e5;
}

header,
footer {
  width: 31rem;
  margin: 2rem auto;

  text-align: center;
}

.add-memory-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 19.19rem;
  height: 5.3rem;
  margin: auto;
  padding: 0.4rem;

  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  background: #a8a8a8;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 1.6rem auto;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column {
  width: 8.4rem;
  margin: 0 0.6rem;

  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  background: #a8a8a8;
}

.column-header {
  padding: 0.3rem;

  border-bottom: #000013 0.2rem solid;
}

.column-header h4 {
  text-align: center;

  font-size: 0.75rem;
}

.forget-column .column-header {
  background: #5DD39E;
}

.trash-column .column-header {
  background: #5DD39E;
}

.forget-list {
  min-height: 3rem;
}

ul {
  margin: 0.1rem;
  padding: 0.1rem;

  list-style-type: none;
}

li {
  list-style-type: none;
}

.column-button {
  padding: 0.1rem;

  text-align: center;
}

.button {
  margin-bottom: 0.3rem;
  padding: 0.6rem 1rem;

  cursor: pointer;

  color: #000013;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;

  font-family: "AvantGarde", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.delete-button {
  margin: 0.1rem auto 0.6rem auto;

  background-color: #00A85F;
  box-shadow: 0 0.15rem 0 rgba(1, 101, 58, 0.7);


}

.delete-button:hover {
  background-color:  #22bc79;
  box-shadow: 0 0.15rem 0 rgba(3, 131, 75, 0.7);
}

.add-button {
  width: 10rem;
  height: 2.8rem;
  margin-top: 0.6rem;
  padding: 0 1rem;

  background-color: #8084ce;
  box-shadow: 0 0.17rem 0 rgba(83, 86, 139, 0.7);
}

.add-button:hover {
  background-color: #a1a5e8;
  box-shadow: 0 0.17rem 0 rgba(109, 112, 177, 0.7);
}

.thought {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 4rem;
  margin: 0.4rem;

  list-style-type: none;

  cursor: move;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  vertical-align: middle;

  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  background: #fff;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#thoughtText {
  width: 7rem;
  height: 2.8rem;
  margin: auto 0.8rem auto 0.1rem;

  text-align: center;

  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  background: #fff;

  font-family: sans-serif;
  font-size: 0.7rem;
}

.thought p {
  margin: auto;
}

.closeBtn{
  float: right;

  cursor: pointer;

  color: white;


}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background: rgba(0,0,0, 0.2);

  justify-content: center;
}

.modal .modal-wrapper {
  position: absolute;
  top: 15%;

  width: 30rem;
  max-width: 31.25rem;

  transform: rotateX(0deg);
  animation-name:modalopen;
  animation-duration:.8s;
  text-align: left;

  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  background: rgb(0,100, 250);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
}

.modal-header {
  padding: 0.6rem 0.9rem;

  text-align: center;

  border-bottom: #000013 0.2rem solid;
  background-color: #00A85F;

  font-family: 'AvantGarde';
  font-size: 1rem;
}

.modal-header h3 {
  vertical-align: middle;
}

.modal-body {
  padding: 1.875rem 0.9375rem;

  text-align: center;

  background: white;

  font-family: 'Brygada';
  font-size: 1rem;
}


@keyframes modalopen{
  from {
    top: 5%;

    transform: rotateX(15deg);

    opacity: 0;
   }
  to {
    top: 15%;

    transform: rotateX(0deg);

    opacity: 1;
    }
}




.gu-mirror {
  position: fixed !important;
  z-index: 9999 !important;

  margin: 0 !important;

  opacity: 0.8;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
